[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hjson = "*"
masonite = "*"
fs = "*"
scandir = "*"

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"
"flake8-bugbear" = "*"
pytest = "*"
the = "*"
black = "*"
isort = "*"
pydocstyle = "*"

[requires]
python_version = "3.7"
